.containerDesign {
  margin-top: 30px;
  padding: 20px;
}
.signature {
  margin-top: 35px;
}

p {
  font-weight: bold;
}

.resultFont {
  font-size: 22px;
}

@media print {
  header,
  footer,
  .back {
    display: none;
  }

  * {
    color: #000;
    background-color: #fff;
  }
  a:after {
    content: "( " attr(href) " )";
  }
}
