.containerDesign {
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
}
.container1 {
  margin-bottom: 300px;
  margin-top: 80px;
}
.container2 {
  display: none;
}
.signature {
  margin-top: 35px;
}

p {
  font-weight: bold;
}

.resultFont {
  font-size: 22px;
}

.printText {
  color: white;
}

@media print {
  header,
  footer,
  .back {
    display: none;
  }
  .container2 {
    display: block;
  }

  * {
    color: #000;
    background-color: #fff;
  }
  a:after {
    content: "( " attr(href) " )";
  }
}
